services:
  nginx:
    image: nginx:latest
    container_name: nginx-lb
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - api-gateway
    networks:
      - backend

  api-gateway:
    build: ./api-gateway
    environment:
      RIDE_SERVICE_URL: ${RIDE_SERVICE_URL}
      DRIVER_SERVICE_URL: ${DRIVER_SERVICE_URL}
      PASSENGER_SERVICE_URL: ${PASSENGER_SERVICE_URL}
    depends_on:
      - ride-service
      - driver-service
      - passenger-service
    networks:
      - backend

  ride-service:
    build: ./ride-service
    deploy:
      replicas: 3
    environment:
      SPRING_KAFKA_BOOTSTRAP_SERVERS: ${KAFKA_CONNECT}
    depends_on:
      - kafka
    networks:
      - backend

  driver-service:
    build: ./driver-service
    environment:
      SPRING_KAFKA_BOOTSTRAP_SERVERS: ${KAFKA_CONNECT}
    depends_on:
      - kafka
    networks:
      - backend

  passenger-service:
    build: ./passenger-service
    environment:
      SPRING_KAFKA_BOOTSTRAP_SERVERS: ${KAFKA_CONNECT}
    depends_on:
      - kafka
    networks:
      - backend

  kafka:
    image: apache/kafka:latest
    container_name: kafka
    ports:
      - "${KAFKA_PORT}:${KAFKA_PORT}"
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller

      KAFKA_LISTENERS: ${KAFKA_LISTENERS}

      KAFKA_ADVERTISED_LISTENERS: ${KAFKA_ADVERTISED_LISTENERS}

      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093

      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_NUM_PARTITIONS: 3
    networks:
      - backend

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
    ports:
      - "9090:9090"
    networks:
      - backend

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    networks:
      - backend

networks:
  backend:
    driver: bridge
