services:
  nginx:
    image: nginx:latest
    container_name: nginx-lb
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      kafka:
        condition: service_healthy
    networks:
      - backend

  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_DB: ride_db
      POSTGRES_USER: ride_user
      POSTGRES_PASSWORD: ride_pass
    ports:
      - "5432:5432"
    networks:
      - backend
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ride_user"]
      interval: 10s
      timeout: 5s
      retries: 5

  ride-service-1:
    build: ./ride-service
    environment:
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      SPRING_KAFKA_CONSUMER_GROUP_ID: ride-service
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/ride_db
      SPRING_DATASOURCE_USERNAME: ride_user
      SPRING_DATASOURCE_PASSWORD: ride_pass
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
    depends_on:
      kafka:
        condition: service_healthy
      postgres:
        condition: service_healthy
    networks:
      - backend

  ride-service-2:
    build: ./ride-service
    environment:
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      SPRING_KAFKA_CONSUMER_GROUP_ID: ride-service
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/ride_db
      SPRING_DATASOURCE_USERNAME: ride_user
      SPRING_DATASOURCE_PASSWORD: ride_pass
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
    depends_on:
      kafka:
        condition: service_healthy
      postgres:
        condition: service_healthy
    networks:
      - backend

  driver-service:
    build: ./driver-service
    environment:
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
    depends_on:
      kafka:
        condition: service_healthy
    networks:
      - backend

  passenger-service:
    build: ./passenger-service
    environment:
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
    depends_on:
      kafka:
        condition: service_healthy
    networks:
      - backend

  payment-service:
    build: ./payment-service
    environment:
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
    depends_on:
      kafka:
        condition: service_healthy
    networks:
      - backend

  price-service:
    build: ./PriceService
    environment:
      ASPNETCORE_URLS: http://+:8080
      Kafka__BootstrapServers: kafka:9092
      Redis__Connection: redis:6379,abortConnect=false
      Redis__DefaultTtlSeconds: "90"
    depends_on:
      - kafka
      - redis
    networks:
      - backend

  notification-service:
    build: ./NotificationService
    environment:
      ASPNETCORE_URLS: http://+:8080
      Kafka__BootstrapServers: kafka:9092
    depends_on:
      kafka:
        condition: service_healthy
    networks:
      - backend

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - backend

  kafka:
    image: apache/kafka:latest
    container_name: kafka
    ports:
      - "9092:9092"
    healthcheck:
      test: ["CMD", "bash", "-c", "nc -z localhost 9092"]
      interval: 5s
      timeout: 5s
      retries: 10
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller

      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092

      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093

      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_NUM_PARTITIONS: 1
    networks:
      - backend

networks:
  backend:
    driver: bridge
